.transactionRow {
    td {
      padding: 8px 16px;
      text-align: left;
      vertical-align: middle;
      border-bottom: 1px solid #ddd;
  
      &:nth-child(5) {
        text-align: right;
      }
    }
  
    &:hover {
      background-color: #f9f9f9;
    }

    .amount-container {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      justify-content: start;

      .deduction-container {
        display: contents;
        
        .title {
          color: var(--dark-gray);
        }
        .deduction {
          color: var(--main-red);
        }
      }
    }
  }
  