:root {
  --background: #F6F4F9;
  --foreground: #171717;
  --main-blue: #121E6C;
  --main-red: #EE424E;
  --dark-gray: #606060;
  --clear-gray: #F3F3F3;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

@function breakpoint($size) {
  @return map-get($breakpoints, $size);
}

@mixin respond-to($size) {
  @media (max-width: #{breakpoint($size)}) {
    @content;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
